.ff--slider {
  display: flex;
  flex: 1;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ff--slider--control {
  cursor: pointer;
  padding: 0.25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.ff--slider--control--disabled {
  cursor: not-allowed;
}

.ff--slider--control--left {
  left: 0;
}

.ff--slider--control--right {
  right: 0;
}
