.flowform--slide {
  position: absolute;
  /*visibility: hidden;*/
  will-change: transform;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.flowform--slide--before {
  transform: translateX(-100%);
}

.flowform--slide--current {
  transform: translateX(0);
  /*visibility: visible;*/
}

.flowform--slide--after {
  transform: translateX(100%);
}
