._1Lc8A {
  -ms-transform: translate(0);
  -o-transition: transform 0.15s linear, width 0.15s linear;
  -webkit-transform: translate(0);
  -webkit-transition: width 0.15s linear, -webkit-transform 0.15s linear;
  padding: 2rem;
  transform: translate(0);
  transition: width 0.15s linear, -webkit-transform 0.15s linear;
  transition: transform 0.15s linear, width 0.15s linear;
  transition: transform 0.15s linear, width 0.15s linear, -webkit-transform 0.15s linear;
  width: calc(100vw - 3rem);
}
._3yf6r {
  -ms-transform: translate(calc(200px + 2rem));
  -webkit-transform: translate(calc(200px + 2rem));
  transform: translate(calc(200px + 2rem));
  width: calc(100vw - 200px - 5rem);
}
