@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
.sf--type-text._1Mtm_ {
  margin-bottom: 2em;
}
.sf--type-text._1Mtm_,
.sf--type-text._1Mtm_ > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sf--type-text._1Mtm_ input {
  -o-transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: #fff no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1abc9c), to(#1abc9c)),
    -webkit-gradient(linear, left top, left bottom, from(silver), to(silver));
  background-image: -webkit-linear-gradient(top, #1abc9c, #1abc9c), -webkit-linear-gradient(top, silver, silver);
  background-image: -o-linear-gradient(top, #1abc9c, #1abc9c), -o-linear-gradient(top, silver, silver);
  background-image: linear-gradient(180deg, #1abc9c, #1abc9c), linear-gradient(180deg, silver, silver);
  background-position: 50% 100%, 50% 100%;
  background-size: 0 2px, 100% 1px;
  border: 0;
  font: 400 1em/1 Lato, sans-serif;
  padding: 0.625em 0.3125em;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.sf--type-text._1Mtm_ input:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
}
.sf--type-text._1Mtm_ .sf--label {
  font: 400 0.85em/1 Roboto Condensed, sans-serif;
  left: 0;
  position: absolute;
  top: 0;
}
.sf--type-text.u0EJK {
  margin-bottom: 2em;
}
.sf--type-text.u0EJK,
.sf--type-text.u0EJK > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sf--type-text.u0EJK > span {
  padding-bottom: 1.2em;
  padding-top: 1.2em;
}
.sf--type-text.u0EJK.sf--required > span:after {
  bottom: 0;
  content: '*Required';
  position: absolute;
}
.sf--type-text.u0EJK .sf--label {
  -ms-transform: translate(-0.5em, -1.25em) scale(0.8);
  -o-transition: transform 0.15s ease-in;
  -webkit-transform: translate(-0.5em, -1.25em) scale(0.8);
  -webkit-transition: -webkit-transform 0.15s ease-in;
  background-color: #fff;
  left: 0.375em;
  position: absolute;
  top: 1.9416em;
  transform: translate(-0.5em, -1.25em) scale(0.8);
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}
.sf--type-text.u0EJK input {
  border: 0.125em solid #000;
  border-radius: 0.25em;
  font: 400 16px/1.618 sans-serif;
  padding: 0.5em 0.25em 0.25em;
}
.sf--type-text.u0EJK input:focus {
  outline: none;
}
.sf--type-text.u0EJK input[value=''] + .sf--label {
  -ms-transform: translate(0) scale(1);
  -webkit-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
}
.sf--type-text.u0EJK input[value='']:focus + .sf--label {
  -ms-transform: translate(-0.5em, -1.25em) scale(0.8);
  -webkit-transform: translate(-0.5em, -1.25em) scale(0.8);
  transform: translate(-0.5em, -1.25em) scale(0.8);
}
@-webkit-keyframes _1K2zI {
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@keyframes _1K2zI {
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
.sf--fieldset.u0EJK {
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  -webkit-padding-start: 0;
  border: 0;
  padding: 0;
}
.sf--fieldset.u0EJK .sf--type-radio {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}
.sf--fieldset.u0EJK .sf--type-radio > span {
  position: relative;
}
.sf--fieldset.u0EJK .sf--type-radio input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 16px;
  padding: 0 16px;
  width: 16px;
}
.sf--fieldset.u0EJK .sf--type-radio input:active,
.sf--fieldset.u0EJK .sf--type-radio input:focus {
  outline: none;
}
.sf--fieldset.u0EJK .sf--type-radio .sf--icon:after,
.sf--fieldset.u0EJK .sf--type-radio .sf--icon:before {
  -o-transition-duration: 0.3s;
  -o-transition-property: transform, border-color;
  -o-transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border-color, -webkit-transform;
  -webkit-transition-timing-function: ease;
  border-radius: 50%;
  content: '';
  position: absolute;
  transition-duration: 0.3s;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
  transition-timing-function: ease;
}
.sf--fieldset.u0EJK .sf--type-radio .sf--icon:before {
  border: 2px solid #000;
  height: 16px;
  left: 0;
  top: 0;
  width: 16px;
}
.sf--fieldset.u0EJK .sf--type-radio .sf--icon:after {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  background: #00f;
  height: 8px;
  left: 6px;
  top: 6px;
  transform: scale(0);
  width: 8px;
}
.sf--fieldset.u0EJK .sf--type-radio input:active ~ .sf--icon:before {
  -webkit-animation: _1K2zI 0.2s linear forwards;
  animation: _1K2zI 0.2s linear forwards;
}
.sf--fieldset.u0EJK .sf--type-radio input:active ~ .sf--icon:before {
  -webkit-animation-name: _1K2zI;
  animation-name: _1K2zI;
}
.sf--fieldset.u0EJK .sf--type-radio input:hover ~ .sf--icon:before {
  border-color: #00f;
}
.sf--fieldset.u0EJK .sf--type-radio input:hover ~ .sf--label {
  color: #00f;
}
.sf--fieldset.u0EJK .sf--type-radio input:checked ~ .sf--icon:before {
  border-color: #00f;
}
.sf--fieldset.u0EJK .sf--type-radio input:checked ~ .sf--icon:after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.sf--fieldset.u0EJK .sf--type-radio input:checked ~ .sf--label {
  color: #00f;
}
.sf--fieldset.u0EJK .sf--type-radio input:disabled ~ .sf--icon {
  cursor: not-allowed;
}
.sf--fieldset.u0EJK .sf--type-radio input:disabled ~ .sf--icon:before {
  border-color: grey;
}
.sf--fieldset.u0EJK .sf--type-radio input:disabled ~ .sf--icon:after {
  background: grey;
}
.sf--fieldset.u0EJK .sf--type-radio input:disabled ~ .sf--label {
  color: grey;
  cursor: not-allowed;
}
.sf--fieldset.u0EJK._1cGV6 .sf--type-radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sf--fieldset.u0EJK._1cGV6 label.sf--type-radio:not(:last-of-type) {
  margin-right: 2em;
}
.sf--type-checkbox.u0EJK {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}
.sf--type-checkbox.u0EJK .sf--label {
  position: relative;
}
.sf--type-checkbox.u0EJK > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sf--type-checkbox.u0EJK input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: 1em;
  margin-right: 1em;
  width: 1em;
}
.sf--type-checkbox.u0EJK input:active,
.sf--type-checkbox.u0EJK input:focus {
  outline: none;
}
.sf--type-checkbox.u0EJK input:active {
  -webkit-animation: _1K2zI 0.2s linear forwards;
  -webkit-animation-name: _1K2zI;
  animation: _1K2zI 0.2s linear forwards;
  animation-name: _1K2zI;
}
.sf--type-checkbox.u0EJK .sf--icon:after,
.sf--type-checkbox.u0EJK .sf--icon:before {
  content: ' ';
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}
.sf--type-checkbox.u0EJK .sf--icon:before {
  border: 0.125em solid #000;
}
.sf--type-checkbox.u0EJK:hover .sf--icon:before {
  border-color: #00f;
}
.sf--type-checkbox.u0EJK:hover .sf--label {
  color: #00f;
}
.sf--type-checkbox.u0EJK input:checked ~ .sf--icon:before {
  background-color: #00f;
  border-color: #00f;
}
.sf--type-checkbox.u0EJK input:checked ~ .sf--icon:after {
  -ms-transform: translate(4px, 4.92308px) rotate(-45deg);
  -webkit-transform: translate(4px, 4.92308px) rotate(-45deg);
  border-color: #fff;
  border-style: none none solid solid;
  border-width: 0.125em;
  height: 4px;
  transform: translate(4px, 4.92308px) rotate(-45deg);
  width: 8px;
}
.sf--type-checkbox.u0EJK input:checked ~ .sf--label {
  color: #00f;
}
.sf--type-checkbox.u0EJK input:disabled {
  cursor: not-allowed;
}
.sf--type-checkbox.u0EJK input:disabled ~ .sf--icon {
  cursor: not-allowed;
}
.sf--type-checkbox.u0EJK input:disabled ~ .sf--icon:before {
  border-color: grey;
}
.sf--type-checkbox.u0EJK input:disabled ~ .sf--label {
  color: grey;
  cursor: not-allowed;
}
.sf--type-checkbox.u0EJK input:disabled:checked ~ .sf--icon:before {
  background-color: grey;
}
.sf--type-checkbox.u0EJK._1cGV6 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sf--type-checkbox.u0EJK._1cGV6:not(:last-of-type) {
  margin-right: 2em;
}
.sf--type-checkbox._2zdqB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}
.sf--type-checkbox._2zdqB > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sf--type-checkbox._2zdqB .sf--label {
  cursor: pointer;
  margin-left: 3em;
}
.sf--type-checkbox._2zdqB .sf--icon:after,
.sf--type-checkbox._2zdqB .sf--icon:before {
  background-color: grey;
  border: 0.125em solid grey;
  content: ' ';
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  z-index: 0;
}
.sf--type-checkbox._2zdqB .sf--icon:before {
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  border-radius: 50%;
  border-radius: 50% 0 0 50%;
  border-right: 0;
  height: 1em;
  transform: translate(0);
  width: 1em;
}
.sf--type-checkbox._2zdqB .sf--icon:after {
  -ms-transform: translate(1em);
  -webkit-transform: translate(1em);
  border-left: 0;
  border-radius: 0 50% 50% 0;
  height: 1em;
  transform: translate(1em);
  width: 1em;
}
.sf--type-checkbox._2zdqB input {
  -moz-appearance: none;
  -ms-transform: translateY(0.125em);
  -o-transition: transform 0.15s ease, background-color 0.15s ease;
  -webkit-appearance: none;
  -webkit-transform: translateY(0.125em);
  -webkit-transition: background-color 0.15s ease, -webkit-transform 0.15s ease;
  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 1em;
  margin-right: 2em;
  outline: 0;
  position: absolute;
  transform: translateY(0.125em);
  transition: background-color 0.15s ease, -webkit-transform 0.15s ease;
  transition: transform 0.15s ease, background-color 0.15s ease;
  transition: transform 0.15s ease, background-color 0.15s ease, -webkit-transform 0.15s ease;
  width: 1em;
  z-index: 1;
}
.sf--type-checkbox._2zdqB input:active {
  -webkit-animation: _1K2zI 0.2s linear forwards;
  -webkit-animation-name: _1K2zI;
  animation: _1K2zI 0.2s linear forwards;
  animation-name: _1K2zI;
}
.sf--type-checkbox._2zdqB input:checked {
  -ms-transform: translate(1em, 0.125em);
  -webkit-transform: translate(1em, 0.125em);
  transform: translate(1em, 0.125em);
}
.sf--type-checkbox._2zdqB input:checked ~ .sf--icon:after,
.sf--type-checkbox._2zdqB input:checked ~ .sf--icon:before {
  background-color: #00f;
  border-color: #00f;
}
.sf--type-checkbox._2zdqB input:disabled {
  cursor: not-allowed;
}
.sf--type-checkbox._2zdqB input:disabled ~ .sf--icon {
  cursor: not-allowed;
}
.sf--type-checkbox._2zdqB input:disabled ~ .sf--icon:after,
.sf--type-checkbox._2zdqB input:disabled ~ .sf--icon:before {
  cursor: not-allowed;
}
.sf--type-checkbox._2zdqB input:disabled ~ .sf--label {
  cursor: not-allowed;
}
.sf--type-checkbox._2zdqB input:disabled:checked ~ .sf--icon:after,
.sf--type-checkbox._2zdqB input:disabled:checked ~ .sf--icon:before {
  background-color: grey;
  border-color: grey;
}
