.container {
  padding: 2rem;
  transform: translate(18px, 0);
  transition: transform 0.15s linear, width 0.15s linear;
  width: calc(100vw - 3rem);
}

.nav-visible {
  transform: translate(calc(200px + 2rem), 0);
  width: calc(100vw - 200px - 5rem);
}
